body {
   background-image: url("../img/sativa.png"); 
}

.jumbotron {
    background-color: deepskyblue;
    color: white;

}

.panel-heading {
    background-color: deepskyblue !important;
    color: white !important;
}


.panel-body {
    color: #2B2B2B !important;
}


.navbar {
    background-color: #2B2B2B;
    
}

.navbar-brand:link, .navbar-brand:visited {
    color: deepskyblue !important;
}

.navbar-brand:hover, .navbar-brand:active {
    color: white !important;
}


#navbar li a:link, #navbar li a:visited {
    color: white !important;
} 

#navbar li a:hover, #navbar li a:active {
    color: deepskyblue !important;
}

